@font-face {
  font-family: "default";
  src: url("./manrope.ttf");
}

:root {
  color-scheme: dark;
  --primary: #3978ff;
  --primary-light: #5b8fff;
  --secondary: #1c1c1c;
  --tertiary: #3d3d3d;
  --sidebar-bg: #232323c1;
  --code-bg: #2b2b2b;
  --code-border: #3d3d3d;
  --filter: invert(1);
  --text-light: #545454;
  --hr: #7a7a7a49;
  --code-preview: #2b2b2b;
  --color: #fff;
  --box-bg: #202020;
}

*,
*::before,
*::after {
  font-family: "default", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--secondary);
  margin-bottom: 1rem;
  transition: 300ms ease;
}

body.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  font-size: max(1vw, 16px);
}

a {
  color: var(--primary-light);
  text-decoration: none;
}

/* -- Spinner Container -- */

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(20vw, 270px), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(max(20vw, 270px), 1fr));
  width: 100%;
}

.box {
  background: var(--box-bg);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: max(20vw, 15rem);
}

.box:hover {
  opacity: 0.8;
}

/* -- Navigation Bar -- */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: max(1vw, 1rem);
}

nav .info {
  display: flex;
  align-items: center;
}

nav img {
  width: max(1.7vw, 30px);
  aspect-ratio: 1/1;
  margin-right: max(0.7vw, 0.7rem);
}

nav .info p {
  font-weight: 900;
  font-size: max(1vw, 16px);
  color: var(--color);
}

/* -- Main -- */

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* -- Banner -- */

.banner-wrapper {
  margin: max(1.5vw, 1rem) 0;
  margin-bottom: max(2vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-wrapper > p {
  margin-top: max(0.9vw, 0.9rem);
  display: inline;
  color: var(--text-light);
  cursor: default;
}

.banner-wrapper > p > a,
.banner-wrapper > p button {
  text-align: center;
  color: var(--text-light);
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
  font-size: max(0.9vw, 14px);
  background: transparent !important;
  border: none !important;
  cursor: pointer !important;
}

.banner-wrapper > p > a:hover,
.banner-wrapper > p button:hover {
  color: var(--primary-light);
}

.banner {
  border: 1px solid var(--code-border);
  border-radius: max(0.3vw, 5px);
  padding: max(0.9vw, 0.5rem) max(1vw, 0.8rem);
  width: 17rem;
  min-width: 50vw;
  max-width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: calc(100% - 2rem);
}

.banner p {
  font-size: max(0.8vw, 13px) !important;
}

.banner .group {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: max(1vw, 1rem);
}

.banner button,
#home button {
  background: var(--primary);
  border: none;
  border-radius: max(0.3vw, 5px);
  font-size: max(0.8vw, 14px);
  padding: max(0.5vw, 0.3rem) max(1.2vw, 0.8rem);
  cursor: pointer;
  color: #fff;
}

/* -- Sidebar -- */

.sidebar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 40vw;
  width: 17rem;
  max-width: 100%;
  background: var(--sidebar-bg);
  padding: max(2vw, 1.5rem);
  padding-top: max(1vw, 0.7rem);
  backdrop-filter: blur(5px);
  transition: transform 500ms ease;
  transform: translateX(-100%);
  overflow-y: scroll;
  z-index: 9999;
  font-size: max(1vw, 16px);
}

.sidebar .panel {
  display: flex;
  align-items: center;
  margin-bottom: max(1.5vw, 2rem);
}

.sidebar .panel .close {
  margin-left: auto;
  font-size: max(1.3vw, 20px);
  cursor: pointer;
  user-select: none;
}

.sidebar .body {
  padding-bottom: 1rem;
}

.sidebar-overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9;
  background: var(--sidebar-bg);
  backdrop-filter: blur(3px);
}

.sidebar h3 {
  margin-top: max(1vw, 1rem);
  font-size: max(0.8vw, 15px);
  margin-bottom: min(-0.2vw, -0.1rem);
}

.sidebar hr {
  border: none;
  height: max(0.2vw, 3px);
  width: 100%;
  border-radius: 3rem;
  margin: max(2vw, 2rem) 0 !important;
  background: var(--hr);
  backdrop-filter: blur(1px);
}

/* -- Code Block -- */

.code {
  position: relative;
  margin: max(1vw, 1rem) 0;
}

.code button {
  cursor: pointer;
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  border: none;
  background: transparent;
}

.code button img {
  width: 15px;
  aspect-ratio: 1/1;
  filter: var(--filter);
}

pre {
  background: var(--code-bg);
  border: max(0.1vw, 1.2px) solid var(--code-border);
  padding: max(1vw, 1rem);
  border-radius: max(0.3vw, 8px);
  white-space: pre-wrap;
  padding-right: 2rem;
  font-size: max(0.8vw, 13px) !important;
  word-break: break-all;
}

.code pre code {
  font-family: monospace !important;
}

.code-preview {
  background: var(--code-preview);
  border: max(0.1vw, 1.2px) solid var(--code-border);
  padding: max(1vw, 1rem);
  border-radius: max(0.3vw, 8px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: max(7vw, 7rem);
  margin-bottom: max(1.5vw, 1.5rem);
  overflow: hidden;
}

/* -- Spinner Pages -- */

.spinner-pages,
.grid {
  display: flex;
  gap: max(0.5vw, 0.5rem);
  flex-wrap: wrap;
  margin-top: max(1vw, 1rem);
}

/* -- Button Style 1 -- */

button.s1 {
  border-radius: max(0.3vw, 5px);
  padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
  background: var(--secondary);
  border: max(0.1vw, 1px) solid var(--code-border);
  font-size: max(1vw, 16px);
  cursor: pointer;
}

button.s1:hover {
  background: var(--primary);
  border-color: transparent;
  color: #fff;
}

/* -- Toogle Button -- */

.toggle {
  position: relative;
  margin-left: max(7vw, 8rem);
}

.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.toggle label {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle input[type="checkbox"]:hover + label:after {
  box-shadow:
    0 2px 15px 0 #0002,
    0 3px 8px 0 #0001;
}

.toggle input[type="checkbox"]:checked + label:before {
  border-color: var(--primary-light);
}

.toggle label:before {
  content: "";
  position: relative;
  display: inline-block;
  border-radius: 5rem;
  transition: 0.2s ease-in;
  border: 3px solid var(--tertiary);
  height: max(1.5vw, 20px);
  width: max(3vw, 40px);
}

.toggle label:after {
  content: "🌙";
  font-size: max(0.5vw, 8px);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  background: var(--tertiary);
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 5px #0002;
  transition: 0.2s ease-in;
  width: max(1.1vw, 14px);
  aspect-ratio: 1/1;
  left: max(0.25vw, 6px);
  top: max(0.25vw, 5.5px);
}

.toggle input[type="checkbox"]:checked + label:after {
  content: "☀️";
  right: max(0.25vw, 6px);
  background: var(--primary);
  left: auto;
}

/* -- Footer -- */

footer {
  text-align: center;
  margin: 5rem 1rem 2rem 1rem;
  font-weight: 600;
  font-size: max(1vw, 16px);
}

/* -- Media Queries -- */

@media (max-width: 316px) {
  .toggle {
    margin-left: 3rem;
  }

  .banner {
    width: 90%;
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .banner p {
    margin-top: 1.5rem;
  }

  .banner br {
    display: none;
  }

  .banner .group {
    flex-direction: column;
    justify-content: center;
  }

  .banner .group button {
    font-size: 16px;
    padding: 0.5rem 1rem;
    width: calc(100vw - 20vw);
  }

  .sidebar {
    width: calc(100vw - 17vw);
  }
}

/* -- Back To Top Button -- */

#backToTop {
  display: block;
  position: fixed;
  z-index: 9;
  cursor: pointer;
  bottom: max(0.6vw, 0.5rem);
  right: max(0.6vw, 0.5rem);
  background: var(--sidebar-bg);
  border-radius: max(0.5vw, 5px);
  border: max(0.1vw, 1px) solid var(--code-border);
  padding: max(0.2vw, 0.1rem) max(0.2vw, 0.2rem) 0 max(0.2vw, 0.2rem);
  backdrop-filter: blur(2px);
  transition: transform 500ms ease;
  transform: translateX(300%);
}

#backToTop img {
  width: max(2vw, 25px);
  filter: var(--filter);
  aspect-ratio: 1/1;
}

#backToTop:hover {
  background: var(--code-bg);
}
